.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: white;
    background: rgb(40, 116, 240);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my-1 {
    margin: 5px 0;
}
.my-2 {
    margin: 26px 0;
}

.text-center {
    text-align: center;
  margin-top: 11px;
  margin-left: 19px;
  /* font-size: 300; */
  font-size: 20px;
  color: #503530;
}